* {
    font-family: 'Rubik', sans-serif;
}

body {
    width: 90%;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 18px;
}

h1 {
    color:rgb(52, 49, 49);
    text-align: center;
}

.bookmarkManager {
    width: 500px;
    height: 300px;
    display: inline-block;
    margin-top: 150px;
    margin-bottom: 250px;
}

.bookmarkManagerTitle {
    font-size: 40px;
    font-weight: bold;
    color: rgb(52, 49, 49);
    margin-bottom: 35px;
}

.bookmarkManagerBody {
    color: rgb(84, 81, 81);
    margin-top: 25px;
}

.bookmarkSVGs {
    width: fit-content;
    height: fit-content;
    position: absolute;
    align-self: right;
    margin-left: 600px;
    margin-top: 90px;
}

.allHeader {
    text-transform: uppercase;
}

header {
    font-size: medium;
}

.bookmarkIcon {
    margin-right: 550px;
}

.otherHeadContent {
    padding-right: 55px;
    font-weight: lighter;
}

.chromeButton {
    width: 180px;
    height: 50px;
    border: none;
    background-color: hsl(231, 69%, 60%);
    color: white;
    border-radius: 7px;
    font-weight: bolder;
    box-shadow: 0px 2px 15px rgb(178, 177, 177);
}

.firefoxButton {
    width: 180px;
    height: 50px;
    border: none;
    background-color: hsl(229, 8%, 60%);
    color: white;
    border-radius: 7px;
    font-weight: bolder;
    margin-left: 10px;
    box-shadow: 0px 2px 15px rgb(178, 177, 177);
}

.login {
    background-color: hsl(0, 94%, 66%);
    border-radius: 7px;
    width: 115px;
    height: 40px;
    border: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.bookmarkBlueBox {
    background-color: hsl(231, 69%, 60%);
    width: 651px;
    text-align: right;
    height: 350px;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    position: absolute;
    margin-left: 800px;
    margin-top: 250px;
}

.featuresBlueBox {
    background-color: hsl(231, 69%, 60%);
    width: 600px;
    text-align: right;
    height: 320px;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 140px;
    position: absolute;
    margin-left: -170px;
    margin-top: 0px;
}

.featuresDiv {
    text-align: center;
    color: hsl(229, 8%, 60%);
    width: 100%;
    margin-bottom: 70px;
}

.featuresTableDiv {
    align-self: center;
    width: fit-content;
    margin-left: 19%;
    margin-bottom: 800px;
}

.featuresTable td {
    padding: 40px;
    color: hsl(229, 8%, 60%);
}

.featuresUnderline {
    margin-top: 27px;
    width: 300px;
    margin-left: -42px;
    height: 0.01px;
    color:rgb(84, 81, 81);
    fill:rgb(84, 81, 81);
    background-color:rgb(84, 81, 81);
}

.pinkFeaturesUnderline {
    color:hsl(0, 94%, 66%);
    height: 5px;
    background-color:hsl(0, 94%, 66%);
    border-color:hsl(0, 94%, 66%);
    border: none;
    margin-top: 25px;
    width: 300px;
    margin-left: -42px;
}

.featuresSVGDiv {
    position: absolute;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    background-color: rgb(245, 251, 251);
    fill: solid;
    /* border: 15px solid black; */
    border-radius: 15px;
    box-shadow: 0px 0px 0px rgb(224, 224, 224);
    margin-top: -175px;
    margin-left: 70px;
}

.featuresSVG {
    position: initial;
    border-radius: 15px;
}

.featuresSVGHeadDiv {
    width: 536px;
    height: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(9, 20, 13);
    opacity: 75%;
    position: absolute;
}

.bookmarkOneClick {
    width: 500px;
    height: 300px;
    display: inline-block;
    margin-top: -675px;
    margin-bottom: 250px;
    margin-left: 700px;
    text-align: left;
    position: absolute;
}

.bookmarkOneClickTitle {
    font-size: 40px;
    font-weight: bold;
    color: rgb(52, 49, 49);
    margin-bottom: 35px;
}

.bookmarkOneClickBody {
    color: rgb(84, 81, 81);
    margin-top: 25px;
}

.featuresBlueBox-Div {
    position: absolute;
    margin-top: -610px;
}

.moreButton {
    width: 130px;
    height: 50px;
    border: none;
    background-color: hsl(231, 69%, 60%);
    color: white;
    border-radius: 7px;
    font-weight: bolder;
    box-shadow: 0px 2px 15px rgb(178, 177, 177);
}

.svgHead {
    background-color:rgb(52, 49, 49);
}

.addExtensionDiv {
    margin-top: 20px;
    text-align: center;
}

.addExtensionH1 {
    text-align: center;
    margin-bottom: 21px;
}

.addExtensionTextDiv {
    color:hsl(229, 8%, 60%);
    text-align: center;
}

.addToChrome {
    width: 250px;
    height: 350px;
    border-radius: 12px;
    padding-top: 21px;
    margin-top: 70px;
    margin-left: 250px;
    box-shadow: 0px 2px 7px rgb(178, 177, 177);
}

.addChromeExtensionBtn {
    width: 200px;
    height: 50px;
    border: none;
    background-color: hsl(231, 69%, 60%);
    color: white;
    border-radius: 7px;
    font-weight: bolder;
    box-shadow: 0px 2px 2px rgb(178, 177, 177);
}

.addToFirefox {
    width: 250px;
    height: 350px;
    border-radius: 12px;
    padding-top: 21px;
    margin-top: -350px;
    margin-left: 545px;
    box-shadow: 0px 2px 7px rgb(178, 177, 177);
}

.addFirefoxExtensionBtn {
    width: 200px;
    height: 50px;
    border: none;
    background-color: hsl(231, 69%, 60%);
    color: white;
    border-radius: 7px;
    font-weight: bolder;
    box-shadow: 0px 2px 2px rgb(178, 177, 177);
}

.addToOpera {
    width: 250px;
    height: 350px;
    border-radius: 12px;
    padding-top: 21px;
    margin-top: -350px;
    margin-left: 840px;
    box-shadow: 0px 2px 7px rgb(178, 177, 177);
    margin-bottom: 150px;
}

.addOperaExtensionBtn {
    width: 200px;
    height: 50px;
    border: none;
    background-color: hsl(231, 69%, 60%);
    color: white;
    border-radius: 7px;
    font-weight: bolder;
    box-shadow: 0px 2px 2px rgb(178, 177, 177);
}

.addExtensionAllDiv {
    margin-top: -200px;
}

.allFAQsDiv {
    text-align: start;
}

.faqTextDiv {
    color:hsl(229, 8%, 60%);
    margin-bottom: 70px;
    text-align: center;
}

#faqHRows {
    width: 650px;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 21px;
    color:rgb(224, 224, 224);
}

.questionAnswersDiv {
    color:hsl(229, 8%, 60%);
    width: 650px;
    margin-left: 26%;
    align-self: center;
}

.faqMoreBtnDiv {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.downArrowSvgDiv {
    text-align: end;
    /* margin-left: 400px; */
    display: inline-block;
}

/* .answer1Text {
    display: none;
} */

.answer2Text {
    display: none;
}

.answer3Text {
    display: none;
}

.answer4Text {
    display: none;
}